* 
{
	box-sizing: border-box;
}
body{
    margin:0;
    color:#6a6f8c;
	background: url('../img/a7.jpeg');
	/* background-color: antiquewhite; */
    background-size: cover;
	height: 1400px;
	font:600 16px/18px 'Open Sans',sans-serif;
	/* overflow: hidden */
    
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-fr{
    background:rgba(209, 205, 205, 0.8);
    height: 160%;
    padding: 20px;
}
.login-wrap{
    width:100%;
    
	margin:auto;
	max-width:525px;
	height: 95%;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	background-size: cover;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px
}
.login-html{
    z-index: 9999;
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
	border-radius: 10px
}
.login-html .sign-up-htm{
	height: 100%;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	/* position:absolute; */
	/* transform:rotateY(180deg); */
	/* backface-visibility:hidden; */
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}



.login-form .group .label{

	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
    margin:0 15px 50px 0;
    cursor: pointer;
    transition: .5s ease-in-out;
    padding-right: 20px;
    padding-bottom: 10px;
    border-right: 2px solid gray;
	display:inline-block;
    border-bottom:2px solid transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.login-html .tab:hover{
    color: rgba(194, 189, 189, 0.6);
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.login-form .group .input,
.login-form .group .button{
	border:1px solid #fff;
	padding:15px 15px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	/* text-security:circle; */
	-webkit-text-security:circle;
}
input[type="radio"]{
	margin-left: 20px;
	margin-bottom: 15px;
	
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
    background:#1161ee;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
	font-weight: bold;
	margin-top: 40px;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}
.quli_dt{
	float: left;
	width: 30%;
	margin-left: 3.3%;
	margin-bottom: 15px;
}
.login-form .group .label .quli_dt{
	text-align: center;
	color: black
}
.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
	
}
select{
	background:rgba(255,255,255,.2) ;
	color: #000;
	border:1px solid #fff;
	padding:15px 15px;
	border-radius:25px;
	margin-top: 10px
}
option{
	background-color: rgba(255,255,255,.2);
}

/*Extra small devices (portrait phones, less than 576px)
 mobile & tablet */
 @media (max-width: 575px) { 
	.login-fr{
		height: 185%
	}
	#quli{
		width: 100%;
		display: block;
		float: none
	}
	.sk input{
		width: 90%;
		display: block;
	}
 }

 /*----------------------------------------------------------------*/
 